.circle {
    position: absolute;
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 20px;
    background-color: #fff;
    /* opacity: 0; */
    transition: opacity 1s linear;
}

.cursor {
  pointer-events: none;
  position: fixed;
  display: block;
  border-radius: 0;
  mix-blend-mode: exclusion;
  top: 0;
  left: 0;
  z-index: 9999999999999999;  
}

