* {
    scroll-behavior: smooth;
}

header {
    font-family: "Fira Code", monospace;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    padding: 20px 60px;
    background: #081f25;
    z-index: 10;
    border-bottom: 3px solid #00fbff;
;
}
header.sticky {
    padding: 10px 60px;
    background: #fff;
    border-bottom: 0px;
}

header.sticky ul li a,
header.sticky .logo {
    color: #000;
}

header .logo {
    position: relative;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
    font-size: 22px;
    letter-spacing: 2px;
    transition: .6s;
}	

header ul {
    position: relative;
    display: flex;
    justify-content:center;
    align-items: center;
    
}

header ul li {
    position: relative;
    list-style: none;
}

header ul li a {
    position: relative;
    padding: 0px 15px;
    text-decoration: none;
    color: #fff;
    letter-spacing: 2px;
    font-weight: 500;
    transition: 0.6s;
    display: block;
    height: 50px;
    line-height: 50px;
}

header nav ul li a:hover,
header nav ul li a.active {
    border-bottom: 2px solid #00fbff;
}
.menuToggle {
    position: absolute;
    top: 5px;
    right: 100px;
    width: 50px;
    height: 50px;
    background: #000 url(https://frezaeistudio.ir/wp-content/uploads/2020/12/toggle.png);
    z-index: 2;
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer; 
    transition: .6s;
    display: none;
}

header.sticky .menuToggle {
    filter: invert(1);

}
.menuToggle.active {
    background: #000 url(https://frezaeistudio.ir/wp-content/uploads/2020/12/close.png);
    z-index: 3;
    background-size: 25px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    filter: invert(1);
}

@media (max-width: 991px) {
    header {
        padding: 20px 40px;
        background: #fff;
        border-bottom: 0px;
    }
    header .logo {
        color: #000; 
    }
    .menuToggle { 
        display: block;
        filter: invert(1);
    }
    header nav {
        /*display: none;*/
        position: absolute;
        top: 50px;
        left: -100%;
        width: 100%;
        height: 100vh;
        background: #fff;
        transition: .6s;

    }
    header ul li a {
        color: #000;
    }
    header nav.active {
        left: 0;
    }
    header nav ul {
        display: block;
        text-align: center;
    }
    header nav ul li a {
        border-bottom: 1px solid rgba(0,0,0,0.2);
    }
}
