p {
    color: white;
    font-family: "Fira Code", monospace;
    font-size: 23px;
}

h1 {
    color: #5ce1e6;
    font-family: "BBH Bogle", sans-serif;
    margin: 0px;
    font-size: 42px;
    letter-spacing: 0.2rem;
}

h2 {
    color: white;
    font-family: "BBH Bogle", sans-serif;
    margin: 0px;
    font-size: 30px;
    letter-spacing: 0.2rem;
}

.profile_picture {
    border-radius: 2%;
    width: 100%;
}

.container {
    display: flex;
    flex-direction: row;
}

.left_column {
    width: 30%;
    height: 94vh;

    margin-top: 30px;
    margin-left: 30px;
    margin-right: 0px;
    border: 2px #5ce1e6 solid;
    border-radius: 10px;
}

.left_column .extra_padding {
    padding-left: 30px;
    padding-right: 30px;
}

.center_contents {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.right_column {
    width: 70%;
    padding-left: 50px;
    padding-top: 50px;
    padding-right: 30px;
}

.about_me {
    background-image: url('../about-me-2.png');
    background-repeat: no-repeat;
    background-position: center; 
    background-size: cover;
    min-height: 434px;
}

.right_column .extra_30_padding {
    padding-left: 30px;
    padding-right: 30px;
}

.skills {
    border: 2px solid white;
    border-radius: 10px;
}

.curved-heading {
    border-radius: 8px;
    border-bottom: 2px solid white;
    background-color: #5773ff; 

    padding-top: 6px;
    padding-bottom: 6px;
    width: 100%;
}