p {
    color: white;
    font-family: "Fira Code", monospace;
    font-size: 21px;
}

h2 {
    color: #00fbff;
    font-family: "Bebas Neue", sans-serif;
    letter-spacing: 0.2rem;
    margin: 0px;
    font-size: 50px;
}

.profile-picture {
    border-radius: 10%;
    width: 100%;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.left-column {
    width: 30%;

    margin-top: 30px;
    margin-left: 30px;
    margin-right: 0px;
}

.left_column .extra_padding {
    padding-left: 30px;
    padding-right: 30px;
}

.center_contents {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.right-column {
    width: 70%;
    padding-left: 50px;
    padding-top: 50px;
    padding-right: 30px;

    display: flex;
    flex-direction: row;
    align-items: center;
}

.about-me {
    background-image: url('../about-me-2.png');
    background-repeat: no-repeat;
    background-position: center; 
    background-size: cover;
    min-height: 434px;
}

.right-column .extra_30_padding {
    padding-left: 30px;
    padding-right: 30px;
}

.skills {
    border: none;
    display: flex;

    width: 100%;
    flex-direction: column;
    align-items: center;
}

.curved-heading {
    border-radius: 8px;
    border-bottom: 2px solid white;
    background-color: #5773ff; 

    padding-top: 6px;
    padding-bottom: 6px;
    width: 100%;
}

@media (max-width: 1000px) {
    .container {
        display: block;
    }
    .left-column {
        padding: 0px;
        margin: 0px;
        height: auto;
        display: block;
        width: 100%;
    }
    .right-column {
        padding: 0px;
        margin: 0px;
        display: block;
        width: 100%;
    }
}