.label {
    background-color: black; 
    border-radius: 5px; 
    border: 2px #595959 solid; 
    width: fit-content; 
    padding-left: 7px; 
    padding-right: 7px;
    margin-bottom: 7px;
    
    margin-top: 7px;
    margin-right: 5px;
}

.label p {
    font-size: 14px;
}