.project-container {
    width: 33%; 
    background-color: #151a46; 
    border-radius: 5px;
    border: none;
    transition: all 0.2s ease-in-out;
    padding-bottom: 15px;
}

.project-container:hover {
    transform: scale(1.02);
    background-color: #303030;
    box-shadow: #181818;
}

.project-container p {
    color: white;
    font-family: "Fira Code", monospace;
    font-size: 17px;
}

.banner-image {
    width: 100%; 
    border-radius: 5px; 
    border: none; 
    margin-top: 15px;
}