
.label-text {
    font-size: 18px; 
    margin: 0px;
}

.scale {
    width: 100%;
    height: 21px; 
    background-color: #1e1e1e;
    border-radius: 13px;
    padding: 0.2px;
}

.scale-value {
    height: 100%;
    width: 100%;
    background-color: #00fbff;
    border: none;
    border-radius: 12px;
}

.scale-beginner {
    background-image: linear-gradient(to right, rgb(9, 177, 0) , rgb(7, 134, 0));
}
.scale-intermediate {
    background-image: linear-gradient(to right, rgb(208, 239, 0) , rgb(255, 179, 0));
}
.scale-expert {
    background-image: linear-gradient(to right, rgb(31, 147, 255) , rgb(0, 51, 255));
}