body {
    margin: 0px;
}

.name_section {
    background-color: #081f25;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.name {
    width: 20%;
    height: auto;
}

h1 {
    color: #00fbff;
    font-family: "Bebas Neue", sans-serif;
    font-size: 80px;
    text-align: center;
    letter-spacing: 0.2rem;
}

.name_section h1 {
    color: white;
    line-height: 0px;
    padding-top: 0px;
    margin-top: 50px;
    margin-bottom: 0px;
}

.name_section .top-name {
    font-size: 140px;
}

.name_section .bottom-name {
    font-size: 108px;
}

.general-section {
    padding: 0px 130px 0px 130px;
    font-size: 30px;
    width: 90%;
}

.text-spacer {
    font-size: 0.1px; 
    visibility: hidden
}

.name_section p {
    color: #00fbff;
    line-height: 0px;
    margin-bottom: 0px;
    text-align: center;
    font-family: "Fira Code", monospace;
}

.circle {
    position: absolute;
    display: block;
    width: 60px;
    height: 60px;
    border-radius: 20px;
    background-color: #fff;
    /* opacity: 0; */
    transition: opacity 1s linear;
}

.cursor {
  pointer-events: none;
  position: fixed;
  display: block;
  border-radius: 0;
  mix-blend-mode: exclusion;
  top: 0;
  left: 0;
  z-index: 9999999999999999;  
}

@media (max-width: 1000px) {
    .general-section {
        padding: 30px;
    }

    h1 {
        color: #00fbff;
        font-family: "Bebas Neue", sans-serif;
        font-size: 60px;
        text-align: center;
        letter-spacing: 0.2rem;
    }
}
